<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" class="my-form">
        <div class="form-group">
            <label for="username">Username:
                <input type="text" id="username" name="username" required>
            </label>
        </div>
        <div>
            <label for="password">Password:
                <input type="password" id="password" name="password" required>
            </label>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>